---
layout: compress
---
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="author" content="Chris Foster">
    <meta name="viewport" content="width=device-width">
    <meta name="twitter:site" content="@chrisfosterelli">
    {% if page.image == null %}
    <meta name="twitter:card" content="summary">
    <meta property="og:image" content="https://fosterelli.co/image/social.jpg">
    {% else %}
    <meta name="twitter:card" content="summary_large_image">
    <meta property="og:image" content="{{page.image}}">
    {% endif %}
    {% if page.summary %}
    <meta name="twitter:description" content="{{page.summary}}">
    <meta name="og:description" content="{{page.summary}}">
    <meta name="description" content="{{page.summary}}">
    {% elsif page.excerpt %}
    <meta 
      name="twitter:description"
      content="{{page.excerpt | strip_html | truncate: 197}}...">
    <meta 
      name="og:description"
      content="{{page.excerpt | strip_html | truncate: 197}}...">
    <meta 
      name="description"
      content="{{page.excerpt | strip_html | truncate: 147}}...">
    {% endif %}
    <meta property="og:title" content="{{page.title}}">
    <link rel="canonical" href="{{site.url}}{{page.url}}">
    <link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png">
    <link rel="alternate" type="application/rss+xml" href="/feed.xml">
    <title>{{page.title}} - Chris Foster</title>
    {% capture styles %}
    {% include main.css %}
    {% include syntax.css %}
    {% endcapture %}
    <style>
      {{ styles | scssify }}
    </style>
    {% if page.has_math == true %}
    <script 
      src="https://cdnjs.cloudflare.com/ajax/libs/mathjax/2.7.5/MathJax.js?config=TeX-MML-AM_CHTML"
      async>
    </script>
    {% endif %}
    <script type="text/javascript">
      var _gaq = _gaq || [];
      _gaq.push(['_setAccount', 'UA-43290727-1']);
      _gaq.push(['_trackPageview']);
      (function() {
        var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
        ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
        var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
       })();
    </script>
  </head>
  <body>
    <div id="divbodyholder">
      <div class="headerholder">
        <div class="header">
          <div id="title">
            <h1 class="nomargin">
              <a class="ablack" href="/">
                Chris Foster
              </a>
            </h1>
            <div id="description">
              <a href="/">Blog</> -
              <a href="/profile">Profile</a> -
              <a href="/talks">Talks</a>
            </div>
          </div>
        </div>
      </div>
      <div id="divbody">
        <div class="content">
          {{ content }}
        </div>
        <div id="footer">
          &copy;
          <a href="http://twitter.com/chrisfosterelli">Chris Foster</a> &mdash;
          <a href="mailto:chris.james.foster@gmail.com">chris.james.foster@gmail.com</a>
          <br>
        </div>
      </div>
    </div>
  </body>
</html>
